### 표본추출/샘플링
- 전체 데이터에서 일부 데이터를 추출
- pandas.DataFrame.sample() 메서드
- 복원추출 : 추출된 데이터를 다시 추가해서 추출하는 방식
- 비복원추출 : 추출된 데이터를 제거 후 남은 데이터에서 추출하는 방식 - default가 비복원

In [3]:
import pandas as pd

In [4]:
# 임의의 데이터 생성
dataDF=pd.DataFrame({'kor':[10,20,30], 
                     'math':[11,22,33],
                     'eng':[111,222,333]})

dataDF

   kor  math  eng
0   10    11  111
1   20    22  222
2   30    33  333

In [7]:
# 1개의 샘플/표본 데이터 추출 => [기본] 비복원 - 전체 데이터 수 초과 불가
# 추출 기준 축(axis)로 설정
for cnt in range(1,6):
    print(f'[{cnt}]번')
    print(dataDF.sample(n=3, axis='columns')) # 기본이 n개 행 단위로 추출
    # 비복원이므로 n이 행의 수를 넘어가면 에러

[1]번
   math  kor  eng
0    11   10  111
1    22   20  222
2    33   30  333
[2]번
   eng  kor  math
0  111   10    11
1  222   20    22
2  333   30    33
[3]번
   eng  kor  math
0  111   10    11
1  222   20    22
2  333   30    33
[4]번
   kor  math  eng
0   10    11  111
1   20    22  222
2   30    33  333
[5]번
   math  eng  kor
0    11  111   10
1    22  222   20
2    33  333   30

In [16]:
# 1개의 샘플/표본 데이터 추출 => [설정] 복원 - replace 매개변수 True 설정
# 추출 기준 축(axis)로 설정
for cnt in range(1,6):
    print(f'[{cnt}]번')
    print(dataDF.sample(n=4, axis='columns', replace=True))
    # 복원이므로 n이 행의 수를 넘어가도 가능

[1]번
   kor  eng  kor  eng
0   10  111   10  111
1   20  222   20  222
2   30  333   30  333
[2]번
   math  eng  math  math
0    11  111    11    11
1    22  222    22    22
2    33  333    33    33
[3]번
   kor  math  eng  math
0   10    11  111    11
1   20    22  222    22
2   30    33  333    33
[4]번
   kor  eng  math  math
0   10  111    11    11
1   20  222    22    22
2   30  333    33    33
[5]번
   math  kor  eng  math
0    11   10  111    11
1    22   20  222    22
2    33   30  333    33

In [15]:
# 1개의 샘플/표본 데이터 추출 => [기본] 비복원 - 전체 데이터 수 초과 불가
# 추출 기준 축(axis)을 행으로 설정
for cnt in range(1,6):
    print(f'[{cnt}]번')
    print(dataDF.sample(n=3))

[1]번
   kor  math  eng
0   10    11  111
1   20    22  222
2   30    33  333
[2]번
   kor  math  eng
0   10    11  111
2   30    33  333
1   20    22  222
[3]번
   kor  math  eng
1   20    22  222
2   30    33  333
0   10    11  111
[4]번
   kor  math  eng
2   30    33  333
1   20    22  222
0   10    11  111
[5]번
   kor  math  eng
0   10    11  111
2   30    33  333
1   20    22  222